@import "partials/normalize";
@import "partials/colors";

*, :after{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

a{
    text-decoration: none;
}

h1{
    font-weight: 300;
    font-size: 3rem;
    color: $color1;
    text-align: center;
    margin: 4rem 0 3rem 0;
}

h2{
    font-weight: 800;
    font-size: 0.8rem;
    color: $color4;
    margin-top: 0;
}

h3{
    font-weight: 800;
    font-size: 0.8rem;
    color: $color1;
    margin-top: 0;
}

.infobox{
    background-color: $color5;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
    border-radius: 5px;
}


@import "partials/tasklist";
@import "partials/tasklist-details";
@import "partials/functions";
@import "partials/tasklist-new";